th {
    text-align: left;
    background-color: lightblue;
}

td {
    background-color: lightgoldenrodyellow;
}

table, td, th
{
    border:1px solid #ffffff;
    padding:10px;
}

.availpricetxt {
    text-align: center;
}

.pricing {
    text-align: center;
}

.itemimg {
    max-width: 100px;
}

.avail {
    text-align: center;
}

.viewitem {
    margin-left: 200px;
    padding: 50px;
    max-width: 400px;
}

.viewtitle {
    margin-left: 50px;
    padding: 50px;
    text-align: left;
}

.updatebtn {
    background:none;
    border:none;
    padding:0;
    color:#0088cc
}

.updatebtn:hover,
.updatebtn:focus {
    color: #005580;
    text-decoration: underline;
}
