{% extends "template.html" %}
{% block content %}
    <div class="page">
        <h1>Shop!</h1>
        <div class="entries">
            <h3>Items in Our Shop :)</h2>
            <div class="datagrid">
                <table>
                    <thread>
                        <tr>
                            <th width='120px'><strong>Thumbnail</strong></th>
                            <th width="300px"><strong>Item</strong></th>
                            <th class='availpricetxt' width="100px"><strong>Unit Price</strong></th>
                            <th class="availpricetxt" width="100px"><strong>Availability</strong></th>
                            <th width='100px'><strong>Buy Item</strong></th>
                        </tr>
                    </thread>
                    {% for l in listofitems %}
                        <tr>
                            <td width='120px'><img class='itemimg' src='{{ l.imgurl }}'></td>
                            <td width="300px">{{ l.item_name }}</td>
                            <td class='pricing' width="100px">${{ "{0:.2f}".format(l.price) }}</td>
                            {% if l.availability == 1 %}
                            <td class='avail' width="100px">In Stock</td>
                            <td width='100px'>Buy Me!</td>
                            {% else %}
                            <td class='avail' width="100px">Out of Stock</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}